* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/************HEADER*************/

.header_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #3490de;
}

.header_container button {
    font-family: 'Acme', sans-serif;
    background-color: #6fe7dd;
    border-color: #6fe7dd;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-size: 1rem;
}

.header_container input {
    height: 30px;
}

.header_container h1 {
    font-family: 'Courgette', cursive;
    color: #fff;
}


/************MAIN*************/

.main_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100vw;
    background-color: #6fe7dd;
    font-family: 'Acme', sans-serif;
    color: #fff;
    overflow-y: scroll;
}

/************CURRENT CONDITION*************/

.current_condition {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    height: 240px;
    width: 190px;
    margin: 10px;
    background-color: #3490de;
    padding-top: 10px;
    border-radius: 5px;
}

.condition_header {
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    
}

.condition_header h2 {
    
    
}

.delete_city_btn {
     width: 20px;
     height: 20px;
     background-color: #ff5a62;
     border-color: #ff5a62;
     cursor: pointer;
     border-radius: 5px;
    
}

.current_condition img {
    height: 110px;
   
}

.forecast_btn {
    margin: 6px 0;
    font-family: 'Acme', sans-serif;
    background-color: #6fe7dd;
    border-color: #6fe7dd;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    width: 90px; 
    height: 35px;
    font-size: 1.1rem;
}

/************FORECAST*************/

.current_forecast {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    height: 370px;
    width: 190px;
    margin: 10px;
    background-color: #3490de;
    padding-top: 10px;
    border-radius: 5px;
}

.current_forecast img {
    height: 110px;
   
}

.go_back_container {
    width: 100vw;
    text-align: center;
    padding-top: 10px;
}

.go_back_btn {
    width: 100px;
    height: 25px;
    background-color: #ff5a62;
    border-color: #ff5a62;
    cursor: pointer;
    border-radius: 5px;
}


/************FOOTER*************/

.footer_container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100vw;
    background-color: #6639a6;
    font-family: 'Courgette', cursive;
    color: #fff;
}



/************MEDIA QUERIES*************/

@media only screen and (max-width: 462px) {
    
    .header_container {
        flex-flow: column nowrap;
    }

    .header_container h1{
        font-size: 1.5rem;
    }

    .header_container input{
        height: 25px;
    }
    
    .header_container button{
        width: 100px;
        height: 25px;
        font-size: 1rem;
    }

    
  }










































